/* block top search */
#header_right #df-search_block_top {
    float: right;
    background: #e5e6e7 url('../../../themes/prestashop/img/block_search_bg.jpg') no-repeat top right;
    margin-bottom: 11px;
    width: 336px;
    height: 28px
}
#header_right #df-search_block_top p { padding: 0.4em 0 0.4em 1em }
#header_right #df-search_block_top label, #header_right #df-search_block_top input { float: left }
#header_right #df-search_block_top label {
    background: transparent url('../../../themes/prestashop/img/icon/search.gif') no-repeat 0 2px;
    float: left;
    width: 19px;
    height: 18px;
    display: block
}
#header_right #df-search_block_top input.search_query { width: 12em; }

form.df-searchbox p.block_content {padding-top: 5px;padding-bottom: 5px;}
form.df-searchbox p.block_content label { margin-bottom: 5px; display: block;}
form.df-searchbox p.block_content input.search_query {margin-left: 0;}
form.df-searchbox input.search_button{padding: 1px 4px; display: inline-block; width:auto; background-color: transparent;}
